<div class="wrapper" [style.backgroundColor]="bottomColor">

    <div class="line left">&nbsp;</div>
  
    <div class="line middle" [style.borderTopColor]="topColor">&nbsp;</div>
  
    <svg xmlns="http://www.w3.org/2000/svg" class="triangle" width="81.626" height="14.742" viewBox="0 0 81.626 14.742"><g transform="translate(-571.081 -754.5)"><path d="M16,0,32,14H0Z" transform="translate(628 769) rotate(180)" [style.fill]="topColor"/><path d="M9449.081,8127h25.367l16.22,13.583L9506.133,8127h24.574" transform="translate(-8878 -7372)" fill="none" stroke="#e1e1e1" stroke-width="1"/></g></svg>
  
    <div class="line right">&nbsp;</div>

  </div>
