<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>

    <!-- MICROBUILD APIS -->
    <add key="microbuild.engineering.api" value="http://api.microbuild.no/v24/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- EMAIL SERVICE -->
    <add key="microbuild.MailService.api" value="http://beta.microbuild.no/staffmailservice/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
    <!-- DOMAIN DATABASE -->
    <add key="DBName" value="MBManagement" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DBUserName" value="microbuild" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DBPassword" value="Itavisen99!" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DBMaxConnectionIdleTime" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DBServerHost" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DBServerPort" value="27490" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- TOKEN DATABASE -->
    <add key="TokenDBName" value="MicroBuild" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenDBUserName" value="microbuild" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenDBPassword" value="Itavisen99!" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenDBMaxConnectionIdleTime" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenDBServerHost" value="localhost" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TokenDBServerPort" value="27490" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>